@import 'core.less';

.heading {
  font-weight: bold;
  font-size: @font-size-2xl;
}
.sub-heading {
  font-weight: bold;
  font-size: @font-size-xl;
}
.lead-paragraph {
  font-size: @font-size-lg;
}

.btn-primary {
  background: @gradient-s-p;
  border: none;
  font-weight: bold;
  padding: 0.75em 2.25em;
  color: @background-color;
  border-radius: 9999px;
  font-size: @font-size-md;
}

.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  div {
    width: 60%;
  }
}


.service-card {
  border-radius: 1em;
  background-color: @card-color;
  border: none;
  h4 {
    font-weight: bold;
    font-size: @font-size-sm;
  }
  p {
    font-size: @font-size-sm;
  }
  .service-header {
    width: auto;
  }
}

