@import 'core.less';

@import 'navbar.less';
@import 'hero.less';


.service-section {
  .sub-heading {
    font-size: @font-size-xl;
    padding-bottom: 2rem;
  }

  .service-card {
    border-radius: 1em;
    background-color: @card-color;
    border: none;
    h4 {
      font-weight: bold;
      font-size: @font-size-sm;
    }
    p {
      font-size: @font-size-sm;
    }
    padding: 2rem;
    margin-bottom: 3rem;

    &__header {
      text-align: center;
      margin-bottom: 3rem;
      img {
        max-width: 100%;
        height: auto;
      }
      h3 {
        padding: 0 2rem;
        margin-top: 1rem;
        width: 20rem;
      }
    }

    .card-content {
      padding-left: 0;
    }
  }
}

.about-section {
  &__main {
    min-width: 50%;
  }
  &__image {
    min-width: 75%;
    border-radius: 20px;
  }
}

.banner {
  background-color: @primary-color;
  padding: 5rem 8rem;
  text-align: center;
  &__item {
    img {
      background-color: @background-color;
      margin-bottom: 1rem;
    }
    p {
      color: @background-color;
      font-size: @font-size-xl;
    }
  }
}

.review-section {
  .row {
    max-width: fit-content !important;
  }
  &__card {
    background-color: @card-color;
    border-radius: 20px;
    padding: 2rem 1rem;
    min-width: 15rem;
    img {
      margin-bottom: 1rem;
    }
  }
  &__arrow {
    width: 4rem;
  }
}

.form-section {
  padding-top: 6rem;
  &__left {
    max-height: 70%;
    max-width: 50%;
    img {
      max-height: 70%;
    }
  }
  &__right {
    p {
      font-size: @font-size-md;
    }
    form {
      font-size: @font-size-sm;
    }
    h2 {
      span {
        color : @primary-color;
      }
    }
  }
  .policy-note {
    font-size: @font-size-xs;
  }
  span {
    .email {
      color: @secondary-color;
    }
  }
  .swirl {
    width: 200%;
  }
}

.swirl {
  z-index: -1;
}